@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


[x-cloak] {
    display: none;
}

@layer components {
    body {
        max-width: none;
        width: 100%;
    }
}





